.inputs {

  .inputs_wrapper {

    &_title {
      font-size: 24px;
      font-weight: 700;
      color: black;
      margin: 15px 0;
    }
  }

  .select {
    width: 450px;
    cursor: pointer;
  }
}

