.about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Ink Free", sans-serif;
  color: #FFFFFF;

  &_wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    &_title {
      font-size: 43px;
      font-weight: 900;
      border-bottom: 1px solid #27c7cb;
    }

    &_text {
      font-size: 35px;
    }
    &_last {
      font-size: 35px;
      font-weight: 900;
      border-bottom: 1px solid #27c7cb;
    }
  }
}



