.header {
  background: #181515;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 100;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  transition: 0.7s;
  color: #FFFFFF;

  &_visible {
    background-color: rgba(33, 33, 29, 0.3);
    width: 90%;
    margin: 0 auto;
    top: 25px;
    color: black;
  }

  &_nav {
    margin: 0;
    width: 50%;
    @media (max-width: 991px) {
      display: none;
      height: 60px;
    }

    &_style {
      margin-right: 30px;
      font-family: "Ink Free", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #FFFFFF;
      transition: 0.5s;

      &:hover {
        color: #27c7cb;
        transition: 0.5s;
      }
    }
  }

  &_logo {
    @media (max-width: 991px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &_style {
      font-family: "Ink Free", sans-serif;
      font-weight: 900;
      color: #ffffff;
      transition: 0.5s;

      &:hover {
        color: #27c7cb;
        cursor: pointer;
        transition: 0.5s;
      }

      &_first {
        font-size: 25px;
      }

      &_second {
        font-size: 35px;
      }

      &_third {
        font-size: 25px;
      }
    }
  }

  &_navRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

    &_style {
      margin-left: 15px;
      margin-right: 12px;
    }
  }
}

